.container{
    width:100%;
    display: flex;
    align-items: stretch;

}
.Image{
    flex: 1;
    position: relative;
    width:50%;
}
.Image img{
    width: 100%;
  height: auto;
  /* Applique une teinte violacée à l'image pour l'intégrer au thème */
  filter: sepia(100%) saturate(300%) hue-rotate(280deg) brightness(0.7);
  
}
.elem1{
    width: 50%;
    text-align: center;
}
.elem1 h2{
    color: #ffff;
    font-size: 50px;
    font-weight: 800;
}
